<div style="display: grid; grid-row-gap: 25px; justify-content: center; min-width: 97%; height: fit-content; padding: 15px;">

    <h3>Register</h3>

    <mat-form-field appearance="outline">
      <mat-label>Email</mat-label>
      <input matInput [formControl]="email">
      <mat-error *ngIf="email.invalid">{{getEmailErrorMessage()}}</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Password</mat-label>
      <input type="password" matInput [formControl]="password">
      <mat-error *ngIf="password.invalid">{{getPasswordErrorMessage()}}</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Confirm password</mat-label>
      <input type="password" matInput [formControl]="confirmPassword">
      <mat-error *ngIf="confirmPassword.invalid">{{getPasswordErrorMessage()}}</mat-error>
    </mat-form-field>

    <button [disabled]="!email.valid || !password.valid || !confirmPassword.valid || password.value != confirmPassword.value" mat-raised-button (click)="submitRegistration()">Submit</button>

</div>
