<div style="display: grid; grid-row-gap: 25px; justify-content: center; min-width: 97%; height: fit-content; padding: 15px;">

  <h2 style="text-align: center;">Update match</h2>

  <div style="display: flex; justify-content: space-between;">

    <mat-form-field appearance="outline" style="margin-right: 10px;">
      <mat-label>{{match.teams[0].teamName}} score</mat-label>
      <input matInput type="number" [formControl]="homeTeamScore">
    </mat-form-field>

    <mat-form-field appearance="outline" style="margin-left: 10px;">
      <mat-label>{{match.teams[1].teamName}} score</mat-label>
      <input matInput type="number" [formControl]="awayTeamScore">
    </mat-form-field>

  </div>

  <button [disabled]="!homeTeamScore.valid || !awayTeamScore.valid" mat-raised-button (click)="submit()" color="primary">Submit</button>

</div>
