<mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer class="example-sidenav" mode="side">
    <h3 style="text-align: center; font-weight: bolder;">TourneyPlanner</h3>
    <button routerLink="/" mat-raised-button style="display: block;"><mat-icon>public</mat-icon>Tournaments</button>
    <button *ngIf="isLoggedIn" routerLink="User/Tournament" mat-raised-button style="display: block;"><mat-icon>person_pin</mat-icon>My tournaments</button>
    <button *ngIf="isLoggedIn" routerLink="/Settings" mat-raised-button style="display: block;"><mat-icon>settings</mat-icon>Settings</button>
  </mat-drawer>

  <div class="example-sidenav-content" style="display: flex; justify-content: space-between;">
    <button type="button" mat-button (click)="drawer.toggle()">
      <mat-icon>reorder</mat-icon>
    </button>

    <button *ngIf="isLoggedIn" matTooltip="Press to logout" mat-button (click)="Logout()" style="max-height: 35px; margin-top: 2px; margin-right: 5px;" color="warn">
      <mat-icon>exit_to_app</mat-icon>
    </button>

    <button *ngIf="!isLoggedIn" matTooltip="Press to login" mat-raised-button style="max-height: 35px; margin-top: 2px; margin-right: 18px;" color="primary" routerLink="/Login">
      Login
    </button>
  </div>

  <div *ngIf="isLoggedIn; else default" class="exmaple-body">
    <router-outlet>
    </router-outlet>
  </div>

  <ng-template #default>
    <app-tournament></app-tournament>
  </ng-template>

</mat-drawer-container>
